<div class="container">
    <nav class="navbar navbar-expand-lg shadow-sm navbar-dark bg-light fixed-top">
        <div class="container">
            <b><h4 class="logo">Quotsy | </h4><p class="tagline">Inspiring For Life</p></b>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
        
                </ul>
                <div class="d-flex">
                <button class="btn btn-dark ms-3">Add A Quote</button>
                </div>
            </div>
        </div>
    </nav>
</div>