<div class="container-fluid">
    <nav class="navbar navbar-expand-lg shadow-sm navbar-dark fixed-top">
        <div class="container">
            <b><h4 class="logo">QuoteSpire</h4></b>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
        
                </ul>
                <div class="d-flex">
                <button class="btn btn-orange ms-3">Add A Quote</button>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container title-section">
    <h1 class="text-center">Inspiring Quotes For Better Living</h1>
</div>
<div class="container quotes-section">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">You only live once, but if you do it right, once is enough</h2>
                    <p class="card-text text-center">~ Mae West ~</p>
                    <button type="button" class="btn btn-orange">(0)</button>
                    <button type="button" class="btn btn-orange">(0)</button>
                    <button type="button" class="btn btn-danger">Trash</button>
                </div>
                <div class="card-footer">
                    <p>Post By Steve</p>
                    <p>Post On Nov,18 2021</p>
                </div>
            </div>
        </div>
    </div>
</div>