<div class="container-fluid">
    <form>
        <div class="form-group">
            <input type="text" required class="form-control" name="name" id="name" placeholder="Your Name">
        </div>
        <div class="form-group">
            <input type="text" required class="form-control" name="name" id="name" placeholder="Quote Name">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" rows="4" placeholder="Quote" name="description" required></textarea>
        </div>
        <div class="form-group">
            <input type="text" required class="form-control" name="name" id="name" placeholder="Quote Author">
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn btn-yellow btn-md btn-block">Post Quote</button>
            <button type="button" class="btn btn-secondary btn-md btn-block" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>