<div class="container-fluid">
    <form (ngSubmit)= 'submitQuote()' #quoteForm ='ngForm'>
        <div class="form-group">
            <input type="text" required class="form-control" name="postAuthor" id="postAuthor" placeholder="Your Name" [(ngModel)]="newQuote.postAuthor" #postAuthor='ngModel'>
        </div>
        <div class="form-group">
            <input type="text" required class="form-control" name="quoteTitle" id="quoteTitle" placeholder="Quote Name" [(ngModel)]="newQuote.quoteTitle" #quoteTitle='ngModel'>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="quoteDescription" rows="4" cols="50" placeholder="Quote" name="quoteDescription" [(ngModel)]="newQuote.quoteDescription" #quoteDescription='ngModel' required></textarea>
        </div>
        <div class="form-group">
            <input type="text" required class="form-control" name="quoteAuthor" id="quoteAuthor" placeholder="Quote Author" [(ngModel)]="newQuote.quoteAuthor" #quoteAuthor='ngModel'>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-blue btn-md btn-block"><b>Post Quote</b></button>
            <button type="button" class="btn btn-secondary btn-md btn-block" data-dismiss="modal"><b>Cancel</b></button>
        </div>
    </form>
</div>