<div class="container-fluid">
    <form>
        <div class="form-group">
            <input type="text" required class="form-control" name="name" id="name" placeholder="Your Name">
        </div>
        <div class="form-group">
            <input type="text" required class="form-control" name="q-name" id="q-name" placeholder="Quote Name">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="quote" rows="4" cols="50" placeholder="Quote" name="quote" required></textarea>
        </div>
        <div class="form-group">
            <input type="text" required class="form-control" name="author" id="author" placeholder="Quote Author">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-blue btn-md btn-block"><b>Post Quote</b></button>
            <button type="button" class="btn btn-secondary btn-md btn-block" data-dismiss="modal"><b>Cancel</b></button>
        </div>
    </form>
</div>