/* You can add global styles to this file, and also import other style files */
body{
    background-color: #000;
    color: #fff;
}

.navbar{
    background-color: #1B1B1B;
}

.btn-orange{
    background-color: #F66506;
    color: #fff;
}

.btn-orange:hover{
    background-color: #ff5a00;
    color: #fff;
}