/* You can add global styles to this file, and also import other style files */
body{
    background-color: #0D1117;
    color: #fff;
    font-family: "Fondamento",Arial,sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #fff;
    text-decoration: none;
}

.navbar{
    background-color: #0D1117;
    border-color: #fcb800;
}

.btn-yellow{
    background-color: #fcb800;
    color: #161B22;
}

.btn-yellow:hover{
    background-color: #fcb800;
    color: #161B22;
}

.title-section{
    margin-top: 70px;
}

.quotes-section{
    margin-top: 40px;
}

.card{
    background-color: #161b22;
    border-color: #fcb800;
    color: #fff;
    border-radius: 20px;
}

.card-title{
    font-family: "Fondamento",Arial,sans-serif;
    color: #fcb800;
}

.footer {
    font-size: 12px;
    margin-bottom: 25px;
}

.btn{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 8px;
}

.btn-link{
    color: #fcb800;
    text-decoration: none;
    margin-bottom: 5px;
}

.btn-link:hover{
    color: #fff;
    text-decoration: none;
}

.btn-dark{
    background-color: #161b22;
    border-color: #30363d;
}

.author{
    font-size: 12px;
}

.col-md-4{
    margin-bottom: 30px;
}